openapi: 3.1.0

info:
  title: Todo API
  version: 1.0.0
  description: REST API for a personal todo list application.

servers:
  - url: https://todo.dangdoan.com
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Auth
    description: Registration and login
  - name: Todos
    description: Todo management

paths:
  /auth/register:
    post:
      summary: Register a new user account
      operationId: register
      security: []
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '409':
          description: Username already taken
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: about:blank
                title: Conflict
                status: 409
                detail: Username 'johndoe' is already taken.
        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /auth/login:
    post:
      summary: Authenticate and receive a JWT
      operationId: login
      security: []
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: Invalid username or password.
        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /todos:
    get:
      summary: List the authenticated user's todos
      operationId: listTodos
      tags: [Todos]
      parameters:
        - name: completed
          in: query
          required: false
          schema:
            type: boolean
          description: Filter by completion status
      responses:
        '200':
          description: Array of todos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TodoResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create a new todo
      operationId: createTodo
      tags: [Todos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTodoRequest'
      responses:
        '201':
          description: Todo created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodoResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /todos/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Todo identifier

    get:
      summary: Get a single todo
      operationId: getTodo
      tags: [Todos]
      responses:
        '200':
          description: Todo found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodoResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Partially update a todo
      operationId: updateTodo
      tags: [Todos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTodoRequest'
      responses:
        '200':
          description: Todo updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodoResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'

    delete:
      summary: Delete a todo
      operationId: deleteTodo
      tags: [Todos]
      responses:
        '204':
          description: Todo deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    TodoResponse:
      type: object
      required: [id, title, completed, createdAt, updatedAt]
      properties:
        id:
          type: integer
          format: int64
          examples: [1]
        title:
          type: string
          examples: ["Buy groceries"]
        completed:
          type: boolean
          examples: [false]
        createdAt:
          type: string
          format: date-time
          examples: ["2026-04-28T10:00:00Z"]
        updatedAt:
          type: string
          format: date-time
          examples: ["2026-04-28T10:00:00Z"]

    CreateTodoRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
          examples: ["Buy groceries"]

    UpdateTodoRequest:
      type: object
      minProperties: 1
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
          examples: ["Buy groceries"]
        completed:
          type: boolean
          examples: [true]

    AuthRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 50
          examples: ["johndoe"]
        password:
          type: string
          minLength: 8
          writeOnly: true
          examples: ["s3cr3t!!"]

    AuthResponse:
      type: object
      required: [accessToken, tokenType, expiresIn]
      properties:
        accessToken:
          type: string
        tokenType:
          type: string
          enum: [Bearer]
        expiresIn:
          type: integer
          description: Token validity in seconds
          examples: [3600]

    Problem:
      type: object
      properties:
        type:
          type: string
          format: uri-reference
          description: >
            A URI reference identifying the problem type.
            Use "about:blank" for standard HTTP errors; omit if not extending the type.
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          minimum: 100
          maximum: 599
          description: The HTTP status code.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence.
        instance:
          type: string
          format: uri-reference
          description: A URI reference identifying the specific occurrence.

  responses:
    Unauthorized:
      description: Missing or invalid Bearer token
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: about:blank
            title: Unauthorized
            status: 401
            detail: Missing or invalid Bearer token.

    Forbidden:
      description: The authenticated user does not own this resource
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: about:blank
            title: Forbidden
            status: 403
            detail: You do not have permission to access this todo.

    NotFound:
      description: Resource not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: about:blank
            title: Not Found
            status: 404
            detail: Todo with id 42 was not found.
            instance: /todos/42

    UnprocessableContent:
      description: Request body failed validation
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: about:blank
            title: Unprocessable Content
            status: 422
            detail: "title: must not be blank"
